.CB-review2-p1-q3-image {
    width: 170px;
    height: 150px;
    object-fit: contain;
    border: 2px solid #e53935;
    border-radius: 12px;
    padding: 6px;
    background: #fff;
}


.CB-review2-p1-q3-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
 gap: 20px;
    margin-top: 20px;
}


.CB-review1-p1-q1-option.is-correct {
  border: 3px solid #2e9e4f;
  background-color: #effff3;
  border-color: #2e9e4f !important;
}

/* Wrapper around each word */
.CB-review1-p1-q1-option-wrapper {
  position: relative;
  display: inline-block;
}

/* Word */
.CB-review1-p1-q1-option {
  position: relative;
  cursor: pointer;
  outline: none;
}

/* Keyboard focus */
.CB-review1-p1-q1-option:focus-visible {
  outline: 3px solid #2c5287;;
  outline-offset: 4px;
  border-radius: 6px;
}

/* Speaker */
.word-speaker {
  position: absolute;
  right: -15px;
  top: -10px;
background-color: #fff;
border-radius: 50%;
  font-size: 16px;
  padding: 5px;
  line-height: 1;

  pointer-events: none;
}

/* Optional visual indication while audio is active */
.CB-review1-p1-q1-option.is-audio-active {
  outline: 2px solid #4c9ffe;
  outline-offset: 3px;
  border-radius: 5px;
}

